[Unit]
Description=fingers.today

[Service]
Type=simple
User=user
Enviromnent="GEM_HOME=/path/to/gem_home/"
WorkingDirectory=/path/to/fingers.today
ExecStart=/path/to/fingers.today/fingers.today.sh

[Install]
WantedBy=multi-user.target
