    <nav>
      <ul id="breadcrumbs">
        <% if current_page.uri_path != ?/ %>
          <% breadcrumb_pages.each do |crumb| %>
        <li><a href="<%= crumb.uri_path %>"><%= crumb.basename %></a></li>
          <% end %>
        <li><%= current_page.basename %></li>
        <% else %>
        <li>fingers.today</li>
      <% end%>
      </ul>
    </nav>
