<nav>
  <ul>
    <% index.directories.each do |directory| %>
    <li><%= link(directory, request.path, directory) %></li>
    <% end %>
    <% index.pages.each do |page| %>
    <li><%= link(page, request.path, page) %></li>
    <% end %>
  </ul>
</nav>
