<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/door_theory_64.png" />
  <link rel="stylesheet" href="/styles.css" />
  <% if authenticated? %>
  <script src="/contenteditable.js"></script>
  <% else %>
  <style>
    article {
      cursor: default;
    }
  </style>
  <% end %>
</head>
<body>
  <header>
    <a href="/"><img src="/door_theory_64.png"  /></a>
    <%= erb :breadcrumbs %>
    <% if authenticated? %>
    <nav id="editMenu">
      <ul>
        <li><a href="/private"></a></li>
      </ul>
    </nav>
    <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer></footer>
</body>
</html>
