<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <link rel="icon" href="/door_theory_64.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="stylesheet" href="/styles.css" />
  <% if authenticated? %>
  <link rel="stylesheet" href="/edit-menu.css" />
  <script src="/js/article.js"></script>
  <script src="/js/page-saver.js"></script>
  <script src="/js/edit-menu.js"></script>
  <script src="/js/main.js"></script>
  <% else %>
  <style>
    article {
      cursor: default;
    }
  </style>
  <% end %>
  <title>fingers.today</title>
</head>
<body>
  <header>
    <a href="/"><img src="/door_theory_64.png"  /></a>
    <%= erb :breadcrumbs %>
  </header>

  <main>
    <% if authenticated? %>
    <nav id="editMenu" class="hidden">
      <ul>
        <li><a id="private" href="" title="Private"><img src="/secret.png" /></a></li>
        <li><%= erb :delete_button, locals: { delete_enabled: (defined?(page) and page.deletable?) } %></li>
        <li><a id="location" href="" title="Add"><img src="/add.png" /></a></li>
        <li>
          <select id="style">
            <option value="P">P</option>
            <option value="H2">H2</option>
            <option value="UL">UL</option>
          </select>
        </li>
        <li><a id="link" href="" title="Create link"><img src="/link.png" /></a></li>
        <li><a id="close" href="" title="Close menu"><img src="/tick.png" /></a></li>
      </ul>

    </nav>

    <% end %>
    <%= yield %>
    <div style="clear: both;"></div>

    <div id="hrefModal" class="hidden">
      <input type="text" placeholder="href" size="50" />
      <button>Text</button>
    </div>

  </main>

  <footer></footer>
</body>
</html>
