* {
  box-sizing: border-box;
}

html {
  background: rgb(240, 246, 248);
  font-size: 35px;
}

body {
  border: 1px solid #888;
  box-shadow: 4px 4px 4px #ccc;
  padding: 20px;
  background: white;
}

@media screen
and (min-width: 981px)
and (max-width: 3240px) {
  body {
    margin: 20px auto;
    width: 984px;
  }
}

@media screen
and (max-width: 980px) {
  html {
    background: white;
  }

  body {
    margin: 0;
    width: 100%;
    box-shadow: none;
    border: none;
  }
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 20px;
}

  header img {
    width: 64px;
    height: 64px;
    margin-top: 9px;
  }

  header h1 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
  }

  header h1:before {
    margin-right: 15px;
    content: "\221E";
  }

  #breadcrumbs {
    list-style: none;
    display: flex;
    margin: 0 0 0 5px;
    padding: 0;
  }

    #breadcrumbs li {
      padding: 10px;
    }

    #breadcrumbs li:before {
      margin-right: 15px;
      content: "\221E";
    }

    #breadcrumbs > li:last-of-type {
      font-weight: bolder;
    }

article:focus {
  outline: none;
}

.hidden {
  display: none;
}
