* {
  box-sizing: border-box;
}

html {
  background: rgb(240, 246, 248);
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2px;
}

body {
  border: 1px solid #888;
  box-shadow: 4px 4px 4px #ccc;
  padding: 20px;
  background: white;
  color: #131516;
}

nav {
  pointer-events: none;
}

#editMenu, #breadcrumbs {
  pointer-events: auto;
}

ul.directoryIndex {
  margin: 20px;
  padding: 0;
  list-style: none;
  pointer-events: auto;
}

@media screen
and (min-width: 981px) {
  html {
    font-size: 21px;
  }

  body {
    margin: 20px auto;
    width: 984px;
  }

  header, h2 {
    font-size: 26px;
  }

  section {
    float: right;
    width: 50%;
  }

  ul.directoryIndex {
    float: left;
  }

  ul.directoryIndex li {
    padding: 3px 0 0 35px;
    margin: 5px 0;
  }

  ul.directoryIndex li.directory {
    background: url(/folder_24.png) no-repeat left 50%;
  }

  ul.directoryIndex li.file {
    background: url(/file_24.png) no-repeat left 50%;
  }
}

@media screen
and (max-width: 980px) {
  article {
    max-height: 999999px;
  }

  html {
    background: white;
    font-size: 32px;
  }

  body {
    margin: 0;
    width: 100%;
    box-shadow: none;
    border: none;
  }

  header, h2 {
    font-size: 40px;
  }

  ul.directoryIndex {
    max-height: 999999px;
  }

    ul.directoryIndex li {
      padding: 2px 0 0px 50px;
      margin: 7px 0;
    }

    ul.directoryIndex li.directory {
      background: url(/folder_32.png) no-repeat left 50%;
    }

    ul.directoryIndex li.file {
      background: url(/file_32.png) no-repeat left 50%;
    }
}

a {
  color: #ce567e;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 20px;
}

  header img {
    width: 64px;
    height: 64px;
    margin-top: 9px;
  }

  #breadcrumbs {
    list-style: none;
    display: flex;
    margin: 0 0 0 5px;
    padding: 0;
  }

    #breadcrumbs li {
      padding-left: 10px;
    }

    #breadcrumbs li:before {
      margin-right: 10px;
      content: "\221E";
    }

    #breadcrumbs > li:last-of-type {
      font-weight: bolder;
    }

  header h1 {
    display: inline;
    font-size: 1em;
  }

main {
  line-height: 1.5;
}

article:focus {
  outline: none;
}

.hidden {
  display: none;
}

blockquote {
  border-left: 5px solid #eee;
  padding-left: 15px;
  margin-left: 15px;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  background: #eee;
  display: inline-block;
  padding: 0 5px;
}

pre code {
  padding: 10px;
  width: 100%;
}

h2 {
  line-height: 1;
  margin-top: 30px;
}
