[Unit]
Description=%i 0f site

[Service]
Type=simple

Environment=GEM_HOME=/var/gem/0f/
Environment=RACK_ENV=development
Environment=ZEROEFF_ENV=localhost

User=1002
UMask=0002
PermissionsStartOnly=True

WorkingDirectory=/data/%i/

ExecStart=/usr/bin/ruby /data/%i/0f.rb

[Install]
WantedBy=multi-user.target
