[Unit]
Description=Commit pages to git for %i 0f site

[Service]
Type=oneshot

User=%I
Group=%i
PermissionsStartOnly=True

WorkingDirectory=/data/0f/sites/%i/mnt/snapshot/

ExecStartPre=/bin/mount -t overlay overlay -o index=off,upperdir=/data/0f/sites/%i/pages.git/,lowerdir=/data/0f/sites/%i/data/pages/,workdir=/data/0f/sites/%i/mnt/workdir-pages-git/ /data/0f/sites/%i/mnt/snapshot/

ExecStart=/bin/sh -c "find . -print0 | xargs -0 getfattr -d > pages.metadata && git add -A && /bin/git commit -m 'Automated snapshot' || echo done"

ExecStopPost=/bin/umount -l /data/0f/sites/%i/mnt/snapshot/

