[Unit]
Description=Synchronise local data for %i 0f site

[Service]
Type=oneshot

User=1002
PermissionsStartOnly=True

WorkingDirectory=/data/%i/

ExecStart=/data/%i/bin/sync-localhost-pages.sh %i
