[Unit]
Description=Synchronise local data for %i 0f site

[Service]
Type=oneshot

User=%i
PermissionsStartOnly=True

WorkingDirectory=/run/0f/%i/

ExecStart=/data/0f/lib/bin/sync-localhost-pages.sh
